body {
  height: 3000px;
}
div{
  font-family: Arial;
}
.right-sidebar{
  background-color: green;
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 90px;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modal{
  background-color: white;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}
.modal-title{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
.modal-conten{
  margin-bottom: 10px;
}