p{
  font-family: Montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.Model{
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 15px;
}
.Order{
font-size: 15px;
}
.Delivery{
  text-decoration: underline;
  cursor: pointer;

}